{% load static %}
<section class="ferqlendirenSecimler">
    <div class="ferlendiren-secimler">
        <div class="secimler">
            <h5>Bizi fərqləndirən seçimlər</h5>
        </div>

        {% comment %} <div class="cards">
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="card-item long-card">
                    <h5>2000+</h5>
                    <h5>Məzun sayı</h5>
                </div>

                <!-- Card 2 -->
                <div class="card-item medium-card1">
                    <h5>Gələcəyinizi</h5>
                    <h5>Dizayn Edin</h5>
                </div>

                <!-- Card 3 -->
                <div class="card-item small-card1">
                    <h5>1500+</h5>
                    <h5>Tələbə Sayı</h5>
                </div>

                <!-- Card 4 -->
                <div class="card-item small-card2">
                    <h5>100+</h5>
                    <h5>Tutor Sayı</h5>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="container py-3">
            <div class="d-flex flex-lg-row flex-column gap-4" style="height: 750px;">
                
                <!-- Box 1 (tall, equal to 2 rows on right) -->
                <div class="card-box box1 left-col">
                    <div>
                        <h5>2000+</h5>
                        <h5>Məzun sayı</h5>
                    </div>
                    <div class="card-ellipse1">
                        <img src="{% static 'img/Card-Ellipse-1.png' %}" alt="Card-Ellipse-1">
                    </div>
                    <div class="icon-img1">
                        <img src="{% static 'img/icon-img1.png' %}" alt="icon-img1">
                    </div>
                </div>

                <!-- Right column with 2 equal-height rows -->
                <div class="right-col">
                    <!-- Top row -->
                    <div class="row-equal">
                        <div class="card-box box2" style="flex: 0 0 66.6%;">
                            <div>
                                <h5>Gələcəyinizi</h5>
                                <h5>Dizayn Edin</h5>
                            </div>
                            <div class="card-ellipse2">
                                <img src="{% static 'img/Card-Ellipse-2.png' %}" alt="">
                            </div>
                            <div class="icon-img2">
                                <img src="{% static 'img/brush-2.png' %}" alt="">
                            </div>
                        </div>

                        <div class="card-box box3" style="flex: 0 0 33.3%;">
                            <div>
                                <h4>1500+</h4>
                                <p>Tələbə Sayı</p>
                            </div>
                            <div class="card-ellipse3">
                                <img src="{% static 'img/Card-Ellipse-3.png' %}" alt="">
                            </div>
                            <div class="icon-img3">
                                <img src="{% static 'img/icon-img3.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- Bottom row -->
                    <div class="row-equal">
                        <div class="card-box box4" style="flex: 0 0 33.3%;">
                            <div>
                                <h5>100+</h5>
                                <h5>Tutor Sayı</h5>
                            </div>
                            <div class="card-ellipse4">
                                <img src="{% static 'img/Card-Ellipse-4.png' %}" alt="">
                            </div>
                            <div class="icon-img4">
                                <img src="{% static 'img/icon-img4.png' %}" alt="">
                            </div>
                        </div>

                        <div class="card-box box5" style="flex: 0 0 66.6%;">
                            <div>
                                <h5>Strateji Həllər</h5>
                                <h5>Mərkəzi</h5>
                            </div>
                            <div class="card-ellipse5">
                                <img src="{% static 'img/Card-Ellipse-5.png' %}" alt="">
                            </div>
                            <div class="icon-img5">
                                <img src="{% static 'img/icon-img5.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>