{% load static %}
<section class="İnstructorlar">
  <div class="İnstructors">
    <div class="İnstructor-harf">
      <h5>İnstructorlar</h5>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper" style="padding-left: 100px;">
        <div class="swiper-slide" style="margin-right: 20px;">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person1.png' %}" alt="" />
        </div>
        
        <div class="swiper-slide">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person2.png' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person3.png' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person4.png' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person1.png' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person2.png' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person3.png' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person4.png' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="muellimler">
            <h5>Hüseyn Dadaşzadə</h5>
            <p>UX/UI Dizayn instructor</p>
          </div>
          <img src="{% static 'img/person4.png' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
