{% load static %}
<section class="İnstructorlar mt-5">
        <div class="İnstructors">
            <div class="İnstructor-harf pt-4">
                <h5>İnstructorlar</h5>
            </div>
            <div class="swiper mySwiper mt-4">
                <div class="swiper-wrapper" style="padding-left: 100px;">
                    <div class="swiper-slide" style="margin-right: 20px;">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/lloyd-sikeba.jpg' %}" alt="person1">
                    </div>
                    <div class="swiper-slide">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/person1.png' %}" alt="person1">
                    </div>
                    <div class="swiper-slide">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/person1.png' %}" alt="person1">
                    </div>
                    <div class="swiper-slide">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/person1.png' %}" alt="person1">
                    </div>
                    <div class="swiper-slide">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/person1.png' %}" alt="person1">
                    </div>
                    <div class="swiper-slide">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/person1.png' %}" alt="person1">
                    </div>
                    <div class="swiper-slide">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/person1.png' %}" alt="person1">
                    </div>
                    <div class="swiper-slide">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/person1.png' %}" alt="person1">
                    </div>
                    <div class="swiper-slide">
                        <div class="muellimler">
                            <h5>Hüseyn Dadaşzadə</h5>
                            <p>UX/UI Dizayn instructor</p>
                        </div>
                        <img src="{% static 'img/person1.png' %}" alt="person1">
                    </div>
                </div>
            </div>
        </div>
    </section>

    
