{% load static %}
<section class="tedrisSaheleri" style="margin-top: 60px;">
        <div class="container">
            <h1 class="textTedrisSaheleri text-center" style="font-weight: 700; letter-spacing: 1.5px;">Tədris sahələri
            </h1>
            <div class="row cardRow mt-4" style="z-index: 999;">
                <!-- Card 1 -->
                <div class="col-md-4 cardCol">
                    <div class="card custom-card first-card">
                        <div class="card-body">
                            <h5 class="badge text-light">Dizayn</h5>
                            <p class="card-title">Qrafik Dizayn</p>
                            <!-- Hidden Details -->
                            <div class="hover-details">
                                <span class="badge-time">4 ay</span>
                                <span class="badge-time">48 saat</span>
                            </div>
                        </div>
                        <div class="card-hover-icon">
                            <button class="etrafli-btn">
                                <span class="hover-text">Ətraflı</span>
                                <span class="icon"><i class="bi bi-arrow-up-right"></i></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-4 cardCol">
                    <div class="card custom-card second-card">
                        <div class="card-body">
                            <h5 class="badge text-light">Dizayn</h5>
                            <h3 class="card-title">Motion Dizayn</h3>
                            <!-- Hidden Details -->
                            <div class="hover-details">
                                <span class="badge-time">5 ay</span>
                                <span class="badge-time">68 saat</span>
                            </div>
                        </div>
                        <div class="card-hover-icon">
                            <button class="etrafli-btn">
                                <span class="hover-text">Ətraflı</span>
                                <span class="icon"><i class="bi bi-arrow-up-right"></i></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-4 cardCol">
                    <div class="card custom-card third-card">
                        <div class="card-body">
                            <h5 class="badge text-light">Dizayn</h5>
                            <h3 class="card-title">UX/UI Dizayn</h3>
                            <!-- Hidden Details -->
                            <div class="hover-details">
                                <span class="badge-time">3 ay</span>
                                <span class="badge-time">72 saat</span>
                            </div>
                        </div>
                        <div class="card-hover-icon">
                            <button class="etrafli-btn">
                                <span class="hover-text">Ətraflı</span>
                                <span class="icon"><i class="bi bi-arrow-up-right"></i></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="col-md-4 cardCol">
                    <div class="card custom-card fourth-card">
                        <div class="card-body">
                            <h5 class="badge text-light">Dizayn</h5>
                            <h3 class="card-title">Digital Memarlıq və 3D</h3>
                            <!-- Hidden Details -->
                            <div class="hover-details">
                                <span class="badge-time">4 ay</span>
                                <span class="badge-time">70 saat</span>
                            </div>
                        </div>
                        <div class="card-hover-icon">
                            <button class="etrafli-btn">
                                <span class="hover-text">Ətraflı</span>
                                <span class="icon"><i class="bi bi-arrow-up-right"></i></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="col-md-4 cardCol">
                    <div class="card custom-card fifth-card">
                        <div class="card-body">
                            <h5 class="badge text-light">Dizayn</h5>
                            <h3 class="card-title">Video Edit</h3>
                            <!-- Hidden Details -->
                            <div class="hover-details">
                                <span class="badge-time">3 ay</span>
                                <span class="badge-time">50 saat</span>
                            </div>
                        </div>
                        <div class="card-hover-icon">
                            <button class="etrafli-btn">
                                <span class="hover-text">Ətraflı</span>
                                <span class="icon"><i class="bi bi-arrow-up-right"></i></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card 6 -->
                <div class="col-md-4 cardCol">
                    <div class="card custom-card sixth-card">
                        <div class="card-body">
                            <h5 class="badge text-light">Marketing</h5>
                            <h3 class="card-title">SMM və Marketing</h3>
                            <!-- Hidden Details -->
                            <div class="hover-details">
                                <span class="badge-time">4 ay</span>
                                <span class="badge-time">70 saat</span>
                            </div>
                        </div>
                        <div class="card-hover-icon">
                            <button class="etrafli-btn">
                                <span class="hover-text">Ətraflı</span>
                                <span class="icon"><i class="bi bi-arrow-up-right"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>